<head>
  <title>twitterApp</title>
</head>

<body>
  <h1>Twitter Application</h1>

  {{> loginButtons}}
  {{#if currentUser}}
  	{{> tweetsOps}}
  {{/if}}
</body>

<template name="tweetsOps">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="col-md-2">
				<p>Post tweet after 5 minutes: </p>
			</div>
			<div class="col-md-3">
				<input type="text" id="tweet">
			</div>
			<div class="col-md-2">
				<p>Search for: </p>
			</div>
			<div class="col-md-3">
				<input type="text" id="keyword">
			</div>
		</div>
		<div class="panel-body">
			<ul class="pagination">
				<table class="table table-bordered">
					<tbody>
						{{#each tweets}}
							<tr>
								<td class="col-md-8">
									<div class="col-md-8">{{text}}</div>
								</td>
								<td class="col-md-2">
									<select class="form-control" id="tweetstatus">
										<option value={{status}}>{{status}}</option>
										{{#each tweetsstatus status}}
				        					<option value="{{this}}">{{this}}</option>
				    					{{/each}}
							  		</select>
							  	</td>
							  	<td>
							  		<button id="updateTweetStatus">Update Status</button>
							  	</td>
					  		</tr>
						{{/each}}
					</tbody>
			  	</table>
			</ul>
		</div>
	</div>
</template>